<h3>Hey {{name}},</h3>

<p>The license “{{license_name}}” was just updated to version
  {{license_version}}.</p>

{{#if outgoingDeps.length}}
  <h4>Outgoing Dependencies:</h4>
  <ul>
    {{#each outgoingDeps}}
      <li>{{this.name}}: Version {{this.version}}</li>
    {{/each}}
  </ul>
{{/if}}

{{#if incomingDeps.length}}
  <h4>Incoming Dependencies:</h4>
  <ul>
    {{#each incomingDeps}}
      <li>{{this.name}}: Version {{this.version}}</li>
    {{/each}}
  </ul>
{{/if}}